.snowflake {
  position: absolute;
  top: -10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation:
    fall linear infinite,
    sway ease-in-out infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@keyframes sway {
  0%,
  100% {
    margin-left: 0;
  }
  50% {
    margin-left: 15px;
  }
}
