html {
  touch-action: manipulation;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '▼';
  font-size: 0.8rem;
  top: 8px;
  right: 10px;
  position: absolute;
}

#songContent {
  column-width: 320px;
  column-gap: 14px;
}

#songContent.col-1 {
  column-count: 1;
}
#songContent.col-2 {
  column-width: calc((100vw / 2) - 30px);
  column-count: 2;
}
#songContent.col-3 {
  column-width: calc((100vw / 3) - 40px);
  column-count: 3;
}
#songContent.col-4 {
  column-width: calc((100vw / 4) - 60px);
  column-count: 4;
}

svg-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
